html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

ol[role="list"],
ul[role="list"] {
  padding: 0;
  list-style: none;
}

#options {
  padding: 0 2ch;
  background-color: #242424;
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  border: .0625em solid white;
  border-inline-start: 0;
  border-block-end: 0;
  border-radius: 0 0.975em 0 0;
}

#color-history {
  margin: 0;
  padding: 0 2ch;
  height: 15ex;
  overflow: auto;
}

#color-history li {
  padding: .25em;
}

#color-history li+li {
  border-block-start: .125em solid currentColor;
}