html, body {
  margin:0;
  padding:0;
  font-family:monospace;
  cursor:crosshair;
}

#color-generator {
  background-color:#222222;
  text-align:center;
  height:100vh;
  width:100vw;
}

#howto-text {
  color: #909090;
  font-size:2.3em;
  position:absolute;
  top:17%;
  left:50%;
  transform:translateX(-50%);
}

#history-text {
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:0 9%;
  color: #4D4D4D;
  font-size:1.5em;
  height:100%;
}

#control-panel {
  height: 28em;
  width: 21em;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 23px 0 0;
  background-color:#EEEEEE;
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
}

#color-list {
  padding: 0 0 1em 1em;
  overflow-y: scroll;
  flex: 1 1 calc(28em - 5em); /* #control-panel height minus #buttons height */
}

#buttons {
  height:5em;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

#buttons button {
  display:inline;
  margin: 0;
  padding: 0;
  color:#000000;
  font-size: 2em;
  background-color: transparent;
  border: none;
}

#buttons #color-type { font-size:1.5em; }

.color-item {
  margin:.5em 0;
  width:100%;
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.color-item:first-of-type {
  margin-top: 0;
}

.color-item:last-of-type {
  margin-bottom: 0;
}

.current-color {
  background-color:rgba(187,187,187,0.5);
  border-top:1px rgba(0,0,0,0.23) inset;
  border-bottom:1px rgba(0,0,0,0.23) inset;
}

.color-chip {
  margin:auto 0 auto 0;
  height: 6em;
  width: 6em;
  border: .1em inset;

}

.color-name {
  margin:auto;
  font-size:2em;
}

.color-name.rgb {
  font-size: 1.5em;
  font-weight: bold;
}

@keyframes add {
  0% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
  }
}

@keyframes removeShadow {
  0% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
  }
}

.no-box-shadow {
    animation:removeShadow 1s;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0) !important;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0) !important;
}

.show-history {
  animation:show 1s;
  bottom:0;
  padding-bottom:0;
  margin-bottom:0;
}

.hide-history {
  animation:hide 1s;
  bottom:-42% !important;
  padding-bottom:23px;
  margin-bottom:11px;
}

::-moz-selection {
  background-color:transparent;
}

::selection {
  background-color:transparent;
}

@media only screen and (max-width:500px) {
  body { font-size:.82em; }
  #control-panel {
    width:100%;
    border-radius:23px 23px 0 0;
  }

  #color-list {
    border-radius: inherit;
  }

  .color-chip {
    margin-left:9%;
    width:calc(23% * 2);
  }
}
