html, body {
  margin:0;
  padding:0;
  font-family:monospace;
  cursor:crosshair;
}

#color-generator {
  background-color:#222222;
  text-align:center;
  height:100vh;
  width:100vw;
}

#howto-text {
  color: #555555;
  font-size:2.3em;
  position:absolute;
  top:17%;
  left:50%;
  transform:translateX(-50%);
}

#history-text {
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:0 9%;
  color: #BBBBBB;
  font-size:1.5em;
  height:100%;
}

#history-container {
  display:flex;
  flex-direction:column;
  height:42%;
  width:17%;
  min-width:230px;
  min-height:230px;
  position:absolute;
  bottom:0;
}

#color-list {
  height:100%;
  width:100%;
  background-color:#EEEEEE;
  border-radius:0 23px 0 0;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
  border-bottom:unset;
  text-align:center;
  overflow-y:scroll;
}

#buttons {
  width:100%;
  height:5em;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}
#buttons > * {
  display:inline;
  margin:0;
  padding:0;
  opacity:.5;
  color:#FFFFFF;
  font-size:2.3em;
}
#color-type { font-size:1.23em; }

#color-list::-webkit-scrollbar {width:0 !important; }
#color-list { overflow: -moz-scrollbars-none; -ms-overflow-style: none; }

.color-item {
  height:33.3%;
  width:100%;
  margin:0;
  text-align:center;
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.current-color {
  background-color:rgba(187,187,187,0.5);
  border-top:1px rgba(0,0,0,0.23) inset;
  border-bottom:1px rgba(0,0,0,0.23) inset;
}

.color-chip {
  height:8vh;
  width:8vh;
  min-height:50px;
  min-width:50px;
  margin:auto 0 auto 1em;
  border: .1em inset;

}

.color-name {
  margin:auto;
  font-size:2em;
}

.color-name.rgb {
  font-size:1.5em;
}

@keyframes add {
  0% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
  }
}

@keyframes removeShadow {
  0% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.23);
  }
  100% {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0);
  }
}

.no-box-shadow {
    animation:removeShadow 1s;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0) !important;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.0) !important;
}

.show-history {
  animation:show 1s;
  bottom:0;
  padding-bottom:0;
  margin-bottom:0;
}

.hide-history {
  animation:hide 1s;
  bottom:-42% !important;
  padding-bottom:23px;
  margin-bottom:11px;
}

::-moz-selection {
  background-color:transparent;
}

::selection {
  background-color:transparent;
}

@media only screen and (max-width:500px) {
  body { font-size:.82em; }
  #howto-text {  }
  #history-container { width:100%; }
  #color-list { border-radius:23px 23px 0 0; }
  .color-chip {
    margin-left:9%;
    width:calc(23% * 2);
  }
}
